<h2 id="heading">Notification Schedular</h2>
<div class="container-fluid">
  <br />
  <div class="notification-container" *ngFor="let company of companysData">
    <p>{{ company.companyName }}</p>
    <div
      class="notification"
      [ngClass]="notification_status"
      *ngFor="
        let notifyDates of company.notifications;
        let first = first;
        let last = last;
        let i = index
      "
    >
      <div class="icon-holder"></div>
      <p *ngIf="first">Introduction</p>
      <p *ngIf="!first">Notification</p>
      <p>{{ notifyDates }}</p>
      <span class="difference"
        >{{ calculateDiff(notifyDates, company.companyId)
        }}<span *ngIf="diffDays != 0">d.</span></span
      >
    </div>
    <br /><br />
  </div>
</div>
